body {
  background: #eeedec;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.container {
  max-width: 400px;
}

.icon {
  margin-top: -50px;
  position: relative;
  border-radius: 50%;
  width: 25%;
  text-align: center;
  margin-left: 35%;
}
